*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* Allow percentage-based heights in the application */
html,
body {
  height: 100%;
}

/* Typographic tweaks! Add accessible line-height Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
li {
  list-style: none;
}

:root {
  --clr-background-light-gray: #fafafa;
  --clr-white: #ffffff;
  --clr-dark-grayish-blue-400: #393a4b;
  --clr-dark-grayish-blue-200: #494c6b;
  --clr-light-gray-400: #9495a5;
  --clr-lighter-gray-200: #d1d2da;
  --clr-lightest-gray-100: #e3e4f1;
  --clr-light-blue: #3a7cfd;
  --clr-primary-gradient: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
  --clr-background-dark-gray: #171823;
  --clr-midnight-black: #25273d;
  --clr-dark-gray-text: #767992;
  --clr-light-gray-text: #4d5067;
  --clr-whitish-gray: #c8cbe7;
  --ff-josefin-sans: "Josefin Sans", sans-serif;
}

body {
  font-family: var(--ff-josefin-sans);
  font-weight: 400;
  color: var(--clr-dark-grayish-blue-400);
  background-color: var(--bg-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-header-primary);
  font-weight: 700;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

li {
  color: var(--text-list-item);
}

input {
  background-color: var(--bg-search-input);
  color: var(--text-search-input);
}

input::placeholder {
  color: var(--text-search-input-placeholder);
}

body#light {
  --bg-body: white;
  --bg-list-item: white;
  --bg-search-input: white;
  --text-list-item: var(--clr-dark-grayish-blue);
  --text-header-primary: deeppink;
  --text-search-input: gold;
  --text-search-input-placeholder: aqua;
}

body#dark {
  --bg-body: red;
  --bg-list-item: black;
  --bg-search-input: orange;
  --text-header-primary: silver;
  --text-search-input: brown;
  --text-list-item: aqua;
  --text-search-input-placeholder: deeppink;
}

.center {
  --measure: 540px;
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.bg-primary-gradient {
  background-image: var(--clr-primary-gradient);
}

header {
  background-image: url(/src/assets/images/bg-mobile-light.jpg);
  background-size: cover;
  color: var(--clr-white);
  padding: 48px 26px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
header .todo-wrapper {
  display: flex;
  justify-content: space-between;
  letter-spacing: 15px;
  width: 100%;
}
@media (min-width: 48rem) {
  header {
    background-image: url(/src/assets/images/bg-desktop-light.jpg);
  }
}
header form {
  position: relative;
  width: 100%;
}
header form::before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  border: 2px solid var(--clr-lightest-gray-100);
  border-radius: 50%;
  transform: translate(90%, 50%);
}
header .create-bar {
  padding: 14px;
  padding-left: 60px;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  border-radius: 5px;
  border: none;
  width: 100%;
}

main {
  padding-inline: 20px;
}

.todo-list {
  background-color: var(--bg-body);
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  border-radius: 5px;
  transform: translateY(-24px);
}
.todo-list .list-item {
  display: flex;
  gap: 12px;
  align-items: center;
  padding-inline: 20px;
  padding-block: 16px;
  border-bottom: 1px solid black;
}
@media (min-width: 48rem) {
  .todo-list .list-item {
    padding-block: 23px;
  }
}
.todo-list .complete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: orange;
}
@media (min-width: 48rem) {
  .todo-list .complete-btn {
    height: 24px;
    width: 24px;
  }
}
.todo-list .delete-btn {
  margin-left: auto;
}

.status-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  row-gap: 16px;
}
.status-bar .wrapper {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  border-radius: 5px;
  border: 1px solid black;
}
.status-bar .tabs {
  display: flex;
  justify-content: center;
  grid-column: 1/-1;
  padding-block: 15px;
  gap: 19px;
  width: 100%;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  border-radius: 5px;
}
@media (min-width: 48rem) {
  .status-bar {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
  .status-bar .items-left {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: start;
  }
  .status-bar .clear-btn {
    grid-column: 3/4;
    justify-self: end;
  }
  .status-bar .tabs {
    grid-column: 2/3;
    grid-row: 1/2;
    width: auto;
  }
}

footer {
  display: none;
}
footer .attribution {
  font-size: 11px;
  text-align: center;
}
footer .attribution a {
  color: hsl(228deg, 45%, 44%);
}

/*# sourceMappingURL=styles.css.map */
