:root {
  // Colors
  // Light Colors
  --clr-background-light-gray: #fafafa;
  --clr-white: #ffffff;
  --clr-dark-grayish-blue-400: #393a4b;
  --clr-dark-grayish-blue-200: #494c6b;
  --clr-light-gray-400: #9495a5;
  --clr-lighter-gray-200: #d1d2da;
  --clr-lightest-gray-100: #e3e4f1;
  --clr-light-blue: #3a7cfd;
  --clr-primary-gradient: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
  // Dark Colors
  --clr-background-dark-gray: #171823;
  --clr-midnight-black: #25273d;
  --clr-dark-gray-text: #767992;
  --clr-light-gray-text: #4d5067;
  --clr-whitish-gray: #c8cbe7;
  --clr-dolphin-gray: #5b5e7e;
  --clr-blueish-white: #e3e4f1;

  // Font Families
  --ff-josefin-sans: "Josefin Sans", sans-serif;
}

body {
  font-family: var(--ff-josefin-sans);
  font-weight: 400;
  color: var(--clr-dark-grayish-blue-400);
  background-color: var(--bg-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-header-primary);
  font-weight: 700;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

li {
  color: var(--text-list-item);
}

input {
  background-color: var(--bg-search-input);
  color: var(--text-search-input);
}

input::placeholder {
  color: var(--text-search-input-placeholder);
}

.tabs button {
  color: var(--text-tabs);
}

.tabs button:hover {
  color: var(--text-hover-tabs);
}

.text-wrapper {
  color: var(--drag-drop-text);
}

// THEMING

body#light {
  // Light Theme (default)
  --bg-body: var(--clr-background-light-gray);
  --bg-list-item: var(--clr-white);
  --bg-search-input: var(--clr-white);
  --text-list-item: var(--clr-dark-grayish-blue);
  --text-header-primary: var(--clr-white);
  --text-search-input: var(--clr-dark-grayish-blue-400);
  --text-search-input-placeholder: var(--clr-light-gray-400);
  --bg-status-bar: var(--clr-white);
  --drag-drop-text: var(--clr-light-gray-400);
  --items-left-text: var(--clr-light-gray-400);
  --clear-completed-text: var(--clr-light-gray-400);
  --text-tabs: var(--clr-light-gray-400);
  // Hover
  --text-hover-tabs: var(--clr-dark-grayish-blue-200);
  --clear-completed-text-hover: var(--clr-dark-grayish-blue-200);

  // Bg image
  --bg-image-mobile: url("/src/assets/images/bg-mobile-light.jpg");
  --bg-image-desktop: url("/src/assets/images/bg-desktop-light.jpg");
}

body#dark {
  --bg-body: var(--clr-background-dark-gray);
  --bg-list-item: var(--clr-midnight-black);
  --bg-search-input: var(--clr-midnight-black);
  --text-header-primary: var(--clr-white);
  --text-search-input: var(--clr-whitish-gray);
  --text-list-item: var(--clr-whitish-gray);
  --text-search-input-placeholder: var(--clr-dark-gray-text);
  --bg-status-bar: var(--clr-midnight-black);
  --drag-drop-text: var(--clr-dolphin-gray);
  --items-left-text: var(--clr-dolphin-gray);
  --clear-completed-text: var(--clr-dolphin-gray);
  --text-tabs: var(--clr-dolphin-gray);
  .create-bar {
    box-shadow: 0px -10px 20px -12px rgba(0, 1, 14, 0.785);
  }
  .todo-list {
    box-shadow: 0px -10px 20px -12px rgba(0, 1, 14, 0.785);
  }
  .wrapper {
    box-shadow: 0px -10px 20px -12px rgba(0, 1, 14, 0.785);
  }
  // Hover
  --text-hover-tabs: var(--clr-white);
  --clear-completed-text-hover: var(--clr-white);

  // Bg image
  --bg-image-mobile: url("/src/assets/images/bg-mobile-dark.jpg");
  --bg-image-desktop: url("/src/assets/images/bg-desktop-dark.jpg");
}

//TODO: DOESN'T WORK, FIX -- It overrides some of the dark-theme colours
// @media (prefers-color-scheme: dark) {
//   :root {
//     color-scheme: dark;
//     --bg-body: red;
//     --bg-list-item: black;
//     --text-search-input: white;
//     --text-search-input-placeholder: deeppink;
//     --text-list-item: white;
//   }
// }
